@import 'main';

.loading-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 20px;
}

.custom-spinner .mat-progress-spinner circle,
.custom-spinner .mat-spinner circle {
  stroke: #457B9D;
}

.loading-text {
  margin-top: 10px;
  font-size: 16px;
  color: #457B9D;
}

.user-details-container {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

.user-card {
  width: 800px;
  height: auto;
  margin: 20px;
  background-size: cover;
  background-position: center;
  opacity: 0.9;
  display: flex;
  flex-direction: column;
}

.card-content {
  display: flex;
  flex-direction: row;
}

.left-side {
  flex: 0 0 40%;
  max-width: 250px;
}

.image-container {
  max-width: 100%;
}

.image-container.image-glow {
  border-radius: 50%;
  overflow: hidden;
}

.user-picture {
  width: 100%;
  height: auto;
  border-radius: 50%;
}

.right-side {
  flex: 1;
  display: flex;
  flex-direction: column;
  padding: 16px;
}

.name-container {
  margin-bottom: 16px;
}

.name-container h1 {
  margin: 0;
  font-size: 24px;
}

.details-container {
  flex: 1;
}

.details-item {
  margin: 8px 0;
}

.details-container p {
  margin: 4px 0;
  text-shadow: 0 0 1px rgba(0, 0, 0, 0.2);
}

mat-card-actions {
  flex-direction: row;
  align-items: center;
  box-sizing: border-box;
  min-height: 52px;
  justify-content: flex-start;
}

.cancel-button {
  margin-right: 0;
}

.cancel-button mat-icon {
  margin-right: 10px;
}

/* Media Query for screens between 390px and 600px */
@media (min-width: 390px) and (max-width: 600px) {
  .user-card {
    width: 100%;
    max-width: 400px;
    margin: 10px;
    display: block;
  }

  .card-content {
    flex-direction: column;
  }

  .left-side {
    flex: 0 0 40%;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .user-picture {
    width: 100px;
    height: 100px;
  }

  .right-side {
    flex: 1;
    display: flex;
    flex-direction: column;
    padding: 16px;
    justify-content: center;
    align-items: center;

  }

  .name-container h1 {
    font-size: 20px;
  }

  .details-item {
    font-size: 14px;
  }

  mat-card-actions {
    justify-content: center;
  }
}
