// Yes button: Used for confirming actions.
.yes-button {
  background-color: var(--text-color);
  color: var(--background-color);

  &:hover {
    background-color: var(--text-color-shadow);
    color: var(--background-color);
  }
}

// Cancel button: Used to cancel actions, changes background color on hover.
.cancel-button {
  background-color: var(--accent-color);

  &:hover {
    background-color: var(--accent-color-shadow);
  }
}

// Add button: Used to add new items or entities, styled with margin and flex for icon alignment.
.add-button {
  background-color: var(--accent-color);
  color: var(--text-color);
  margin-bottom: 16px;
  display: flex;
  align-items: center;
  gap: 8px;

  &:hover {
    background-color: var(--accent-color-shadow);
  }
}

// Update button: Used for updating existing items.
.update-button {
  background-color: var(--text-color);
  color: var(--background-color);

  &:hover {
    background-color: var(--text-color-shadow);
    color: var(--background-color);
  }
}

// Edit button: Used for editing items.
.edit-button {
  color: var(--secondary-color);

  &:hover {
    color: var(--secondary-color-shadow);
  }
}

// Delete button: Used for deleting items.
.delete-button {
  color: var(--primary-color);

  &:hover {
    color: var(--primary-color-shadow);
  }
}

// Search button: Used to trigger search actions.
.search-button {
  margin-left: 8px;
  background-color: var(--text-color);
  color: var(--background-color) !important;

  &:hover {
    background-color: var(--accent-color-shadow);
    color: var(--text-color) !important;
  }
}

// Clear button: Used to clear search inputs or filters.
.clear-button {
  margin-left: 8px;
  background-color: var(--text-color);
  color: var(--background-color) !important;

  &:hover {
    background-color: var(--accent-color-shadow);
    color: var(--text-color) !important;
  }
}
