:root {
  --primary-color: #E63946;
  --primary-color-shadow: rgba(230, 57, 70, 0.5); /* Adjust the alpha value as needed */

  --secondary-color: #457B9D;
  --secondary-color-shadow: rgba(69, 123, 157, 0.5);

  --background-color: #F1FAEE;
  --background-color-shadow: rgba(241, 250, 238, 0.5);

  --text-color: #1D3557;
  --text-color-shadow: rgba(29, 53, 87, 0.5);

  --accent-color: #A8DADC;
  --accent-color-shadow: rgba(168, 218, 220, 0.5);
}
